<form method="post" action="comments">
    <label for="comment">add comment</label>
    <input id="comment" name="comment[comments]" type="text">

    <input id="user-id" name="user[current_user]" >

    <input type="submit" value="create comment" class="button">
  </form>
</main> 