<%= erb :'partials/navbar' %>

<form method="post" action="/questions/<%= params[:id] %>/comments">
    <label for="comment">Your comment</label><br>
    <input id="comment" name="comments" type="text"><br>
    <input type="hidden" name="commentable_type" value="Question">
    <input type="submit" value="Submit Comment" class="button">
  </form>
</main>
