
.answerbtn {
  background-color: rgba(0,0,0,0.4);
  border: black 1px solid;
  text-decoration: none;
  color: white;
}

.answerbtn:visited {
  color: blue;
}

.answerbtn:hover {
  background-color: rgba(0,0,0,0.7)
}

.answerbtn:active {
  background-color: red;
}
#login form {
    background-color: F8F8F8;
    width: 25%;
    border: 3px solid #f1f1f1;
    margin-top: 20px;
    margin-left: 100px;
    margin-bottom: 50px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-top: 10px;
}

#login form input[type=email], input[type=password] {
    width: 80%;
    margin: 8px 0;
    display: block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

#login form input[type=submit] {
  background-color: #008CBA;
  color: white;
  padding: 5px 5px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 50%;
  border: 3px solid #f1f1f1;
  opacity: .5;
}

#login form input[type=submit]:hover {
  opacity: 0.8;

}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

nav li {
    float: right;
}

nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
