
.answerbtn {
  background-color: rgba(0,0,0,0.4);
  border: black 1px solid;
  text-decoration: none;
  color: white;
}

.answerbtn:visited {
  color: blue;
}

.answerbtn:hover {
  background-color: rgba(0,0,0,0.7)
}

.answerbtn:active {
  background-color: red;
}

.upup {
  background-size: contain;
  background-image: url("/images/thumbsup.jpeg");
}

.downdown{
  background-size: contain;
  background-image: url("/images/thumbsdown.jpeg");
}

#login form {
    background-color: F8F8F8;
    width: 25%;
    border: 3px solid #f1f1f1;
    margin-top: 20px;
    margin-left: 100px;
    margin-bottom: 50px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-top: 10px;
}

#login form input[type=email], input[type=password] {
    width: 80%;
    margin: 8px 0;
    display: block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

#login form input[type=submit] {
  background-color: #008CBA;
  color: white;
  padding: 5px 5px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 50%;
  border: 3px solid #f1f1f1;
  opacity: .5;
}

#login form input[type=submit]:hover {
  opacity: 0.8;

}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

nav li {
    float: left;
}

nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

body {
  counter-reset:section;
  background-color: #F6F6EF;
  font-family: Verdana;
  max-width: 700px;
  margin: 0 auto;
}

header {
  background-color: #F4712D;
  padding: 5px 5px;
}

header h1 {
  font-size: 11pt;
  display: inline;
}

header p {
  margin-left: 5px ;
  font-size: 10pt;
  display: inline;
}

header p a {
  color: black;
  text-decoration: none;
}

header p a:nth-child(n + 2):before {
  content: " | ";
}

article {
  margin: 5px 5px;
}

article a.vote-button {
  color: #8C8C8C;
  text-decoration: none;
  display: inline;
  vertical-align: sub;
}


article h2 {
  display: inline;
  font-size: 10pt;
}

article:before {
  counter-increment: section;
  color: #8C8C8C;
  font-size: 10pt;
  content: counter(section) ". ";
}

article h2 a {
  text-decoration: none;
  color: black;
}

article p {
  color: #8C8C8C;
  font-size: 7pt;
  margin: 3px 30px;
}

article p span.points:after {
  content: " points";
}

article p span.username:before {
  content: " by ";
}

article p span.timestamp:after {
  content: ' hours ago';
}

article p span.comment-count:before {
  content: ' | ';
}

article p span.comment-count:after {
  content: ' comments | ';
}

article p a.delete {
  text-decoration: none;
  color: #8C8C8C;
  text-decoration: none;
}

article p a.delete:before {
  content: ' delete this post';

}

form#posts input[type='text'] {
  width: 200px;
  margin-left: 20px;
  font-size: 10pt;
  height: 17px;

}

form#posts input[type='submit'] {
  font-size: 10pt;
  margin-left: 5px;
  border-width: 1px;
  font-weight: bold;
  background-color: #F4712D;
}

.inline {
  display: inline;
}

.vote-button {
  /*background-color: white;*/
  border: 1px, red;
  padding-top: 5px;
  color: #8C8C8C;
  vertical-align: sub;
  height: 25px;
  width: 25px;
}
