<nav>
  <ul>
    <% if logged_in? %>
    <li ><a href='/users/logout'>Log out</a></li>
    <li ><a href='/questions'>Questions</a></li>
    <% else %>
    <li class=><a href='login'>Log in</a></li>
    <li ><a href='/questions'>Questions</a></li>
    <% end %>
  </ul>
</nav>
