<nav>
  <ul>
    <% if logged_in? %>
      <li ><a href='/users/logout'>Log out</a></li>
      <li>Hi, <%= @current_user.username %>!!  </li>
    <% else %>
      <li class=><a href='login'>Log in</a></li>
    <% end %>
  </ul>
</nav>
