<div id="login">
  <form action="/sessions" method="post">
      <label>Login</label>
    <input type="email" placeholder="E-Mail Address" name="user_information[email]" ><br>
    <input type="password" placeholder="Password" name="user_information[password]"><br>
    <input type="submit" value='submit'>
  </form>
</div>
<div>
  <span>If you don't have an account, please register below </span>
  <a href="/register/new">Register</a>
</div>
