
<div id="login">
  <label>New User Registration</label>
  <form action="/users" method="post">
    <label>Username:</label><br>
    <input type="text" placeholder="username" name="username">
    <label>Email:</label><br>
    <input type="text" placeholder="email" name="email">
    <label>Password:</label><br>
    <input type="password" placeholder="password" name="password">
    <input type="submit" value='submit'>
  </form>
</div>
